/* Regole generali */
:root {
    --navy: #2C3E50;
    --light-navy: #3A546D;
    --turquoise: #1ABC9C;
    --white: #FFFFFF;
    --black: #333333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol, menu {
    list-style: none;
}

.container-lg {
    max-width: 1140px;
    margin: 0 auto;
}

.container-sm {
    max-width: 975px;
    margin: 0 auto;
}

/* Header */
.main-header {
    background-color: var(--navy);
    color: var(--white);
    padding: 30px 10px;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
}

/* Lista Navbar */
.navbar__list {
    display: flex;
    gap: 20px;
    font-weight: bold;
}

/* Hamburger */
.hamburger {
    display: none;
    border: 1px solid var(--white);
    padding: 5px 10px;
    border-radius: 4px;
}

/* Sezioni del main */
.main-content section {
    background-color: var(--white);
    color: var(--black);
}

/* Colori alternati per le sezioni del main */
.main-content section:nth-last-child(2n) {
    background-color: var(--turquoise);
    color: var(--white);
}

/* Hero */
.hero {
    padding-top: 65px;
    padding-bottom: 75px;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

/* Riga */
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Riga dell'Hero */
.hero .row {
    gap: 20px;
}

/* Colonna 12/12 */
.col-12 {
    flex-basis: calc((100% / 12) * 12);
}

/* Immagine dell'Hero */
.hero__img {
    width: 250px;
}

/* Titolo dell'Hero */
.hero__title {
    font-size: 38px;
}

/* Icona a forma di stella dell'Hero */
.star {
    font-size: 28px;
}

/* Linea bianca a sinistra della stella */
.star::before {
    content: '';
    background-color: var(--black);
    width: 170px;
    height: 5px;
    border-radius: 999px;
    display: inline-block;
    vertical-align: 5px;
    margin-right: 20px;
}

/* Linea bianca a sinistra della stella */
.star::after {
    content: '';
    background-color: var(--black);
    width: 170px;
    height: 5px;
    border-radius: 999px;
    display: inline-block;
    vertical-align: 5px;
    margin-left: 20px;
}

/* Colore di sfondo alternato delle linee delle stelle delle sezioni del main */
.main-content section:nth-last-child(2n) .star::before,
.main-content section:nth-last-child(2n) .star::after {
    background-color: var(--white);
}

/* Portfolio */
.portfolio {
    padding: 85px 0px;
    text-align: center;
    text-transform: uppercase;
}

/* Riga del portfolio */
.portfolio .row {
    row-gap: 30px;
}

/* Titolo del portfolio */
.portfolio__title {
    font-size: 38px;
}

/* Colonna 4/12 */
.col-4 {
    flex-basis: calc((100% / 12) *4);
}

/* Carta */
.card {
    width: 100%;
    border-radius: 10px;
}

/* Immagine della carta */
.card__img {
    width: 100%;
    display: block;
    border-radius: 10px;
}

/* About section */
.about {
    padding-top: 90px;
    padding-bottom: 60px;
    text-align: center;
    text-transform: uppercase;
}

/* Riga di about */
.about .row {
    row-gap: 20px;
}

/* Titolo dell'about */
.about__title {
    font-size: 38px;
}

/* Colonna 6/12 */
.col-6 {
    flex-basis: calc((100% / 12) * 6);
}

/* Footer */
.page-footer {
    background-color: var(--navy);
}

/* Informazioni nel footer */
.info {
    background-color: var(--light-navy);
}

/* Tablet */
@media only screen and (max-width: 992px) {
    /* Colonna 4/12 */
    .col-4 {
        flex-basis: calc((100% / 12) * 6);
    }
}

/* Smartphone */
@media only screen and (max-width: 576px) {
    /* Titolo Header */
    .header__title {
        font-size: 18px;
    }
    /* Lista Navbar */
    .navbar__list {
        display: none;
    }
    /* Hamburger */
    .hamburger {
        display: block;
    }
    /* Linea a sinistra della stella */
    .star::before {
        width: 73px;
        margin-right: 5px;
    }
    /* Linea a destra della stella */
    .star::after {
        width: 73px;
        margin-left: 5px;
    }
    /* Tutte le colonne */
    [class^="col"] {
        flex-basis: calc((100% / 12) * 12);
    }
}